body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #F1FFD6;
}

html
{
    font-size: 16px;
    padding: 0;
    margin: 0;
}

img
{
    max-height: 100%;
}

.template
{
    display: grid;
    row-gap: 16px;
    width: 100%;
    grid-template-columns: 1fr auto;
}


/* ------- Header ------- */

header
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__organism
{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px 16px 32px 16px;
    background-image: url(img/background.svg);
    min-width: 320px;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.12));
}

/* ------- Logo ------- */



/* ------- Menu ------- */

.menu
{
    display: flex;
    height: 100%;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    order: 2;
}

.menu__list
{
    column-gap: 36px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.menu__listElement
{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.menu__linkIcon
{
    display: none;
}

.menu__link
{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
}

.menu__mobile
{
    display: none;
}

/* ------- Login ------- */

.login
{
    order: 3;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-basis: 15%;
    flex-shrink: 0;
}
.login__button{
    text-decoration: none;
    height: 40px;
    width: 100%;
    display: flex; 
    border: 4px solid #7569DE;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}
.login__icon
{
    display: none;
}

/* ------- Menu Mobile ------- */


.menu__side
{
    display: flex;
    height: 100%;
    background-color:#DEFAA5;
    
}

.content__organism{
    display: flex;
    height: 1200px;
}

/* ------- Mobile ------- */

@media only screen and (max-width:800px){
    

    .header__organism
    {
        width: 100%;
    }

    .menu__mobile
    {
        order: 1;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .menu__mobileButton
    {
        min-width: 45px;
        cursor: pointer;
        font-size: 24px;
    }

    .logo
    {
        display: flex;
        order: 2;
    }

    .login
    {
        flex-shrink: 1;
        order: 3;
        border: none;
    }
    .login__button{
        border: none;
    }

    .login__text
    {
        display: none;
    }

    .login__icon
    {
        font-size: 2em;
        display: flex;
    }

    .menu
    {   
        height: 100%;
        width: 100%;
    }

    .menu__list{
        width: 100%;
        height: 100%;
        flex-flow: column nowrap;
    }

    .menu__linkIcon
    {
        display: flex;
       width: 45px;
    }

    .menu__link{
        height: 40px;
      
        
    }
}


@keyframes menuEfect 
{
    from
    {
        transform: translateX(-99px);
    }
    to
    {
        transform: translateX(0);
    }
}

@keyframes teste
{   
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-99px);
    }
}

.--isHidden
{
  
    display: none;
    
}

.--isVisible
{
    animation-name: menuEfect;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    display: initial;
}